<!DOCTYPE html>
<html>
<head>
  <script src="face-api.js"></script>
  <script src="js/faceDetectionControls.js"></script>
  <!-- Style-->
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
  <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Loved+by+the+King|Metal+Mania&display=swap" rel="stylesheet">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> 
</head>
<body>
  <div id="navbar"></div>
  <div > <h3 id="title"> Silver Eye: Detector of elusive Age</h3></div>
  <div class="center-content page-container">

    <div class="progress" id="loader">
      <div class="indeterminate"></div>
    </div>
    <div style="position: relative;border: 4px solid rgb(0, 0, 0); height: 480px;width: 640px; box-sizing:content-box" class="margin" >
      <video onloadedmetadata="onPlay(this)" id="inputVideo"  autoplay muted playsinline></video>
      <canvas id="overlay" ></canvas>
      <div id="bordersettings" onclick="borderswtich()">&#9881;</div>
      <div id="time_and_fps" >
        <span id="right_bottom_time" style="color: white;"></span>
        <span id="right_bottom_fps"style="color: white;"></span>
      </div>
      <div id="HBBdiv" onclick="onChangeHideBoundingBoxes()">
      <div id ="HBBspan"style="color: white;">Hide Bounding Boxes</div>
      
      </div>
    </div>
    <div id="button_div">
      <button id="confirm_button_legal" 
      class="confirm_button" 
      onclick="$('#tiny_face_detector_controls').show();legalbg();">Legal ! You can use Advanced Setting</button>
      <button id="confirm_button_illegal" class="deny_button" onclick="denybg();">Stop ! You violate the laws!</button>
    </div>
    <!-- temporary display none-->
    <div class="row side-by-side" style="display: none">

      <!-- check boxes -->
      <div class="row" style="width: 220px;">
        <input type="checkbox" id="hideBoundingBoxesCheckbox" onchange="onChangeHideBoundingBoxes(event)" />
        <label for="hideBoundingBoxesCheckbox">Hide Bounding Boxes</label>
      </div>
      <!-- check boxes -->

      <!-- fps_meter -->
      <div id="fps_meter" class="row side-by-side">
        <div>
          <label for="time">Time:</label>
          <input disabled value="-" id="time" type="text" class="bold">
          <label for="fps">Estimated Fps:</label>
          <input disabled value="-" id="fps" type="text" class="bold">
        </div>
      </div>
      <!-- fps_meter -->

    </div>

    <!-- tiny_face_detector_controls -->
    <span id="tiny_face_detector_controls">
      <div class="row side-by-side">
        <div class="row input-field" style="margin-right: 20px;">
          <select id="inputSize">
            <option value="" disabled selected>Input Size:</option>
            <option value="128">128 x 128</option>
            <option value="160">160 x 160</option>
            <option value="224">224 x 224</option>
            <option value="320">320 x 320</option>
            <option value="416">416 x 416</option>
            <option value="512">512 x 512</option>
            <option value="608">608 x 608</option>
          </select>
          <label>Input Size</label>
        </div>
        <div class="row">
          <label for="scoreThreshold">Score Threshold:</label>
          <input disabled value="0.5" id="scoreThreshold" type="text" class="bold">
        </div>
        <button
          class="waves-effect waves-light btn"
          onclick="onDecreaseScoreThreshold()"
        >
          <i class="material-icons left">-</i>
        </button>
        <button
          class="waves-effect waves-light btn"
          onclick="onIncreaseScoreThreshold()"
        >
          <i class="material-icons left">+</i>
        </button>
      </div>
    </span>
    <!-- tiny_face_detector_controls -->

  </body>

  <script>
    let forwardTimes = []
    let predictedAges = []
    let withBoxes = true

    function onChangeHideBoundingBoxes() {
      //withBoxes = !$(e.target).prop('checked')
      withBoxes = !withBoxes
      if(withBoxes){
        $('#HBBspan').html('Hide Bounding Boxes')
      }else{
        $('#HBBspan').html('Show Bounding Boxes')
      }
    }

    function updateTimeStats(timeInMs) {
      forwardTimes = [timeInMs].concat(forwardTimes).slice(0, 30)
      const avgTimeInMs = forwardTimes.reduce((total, t) => total + t) / forwardTimes.length
      //$('#time').val(`${Math.round(avgTimeInMs)} ms`)
      //$('#fps').val(`${faceapi.round(1000 / avgTimeInMs)}`)
      $('#right_bottom_time').html(' Time:'+`${Math.round(avgTimeInMs)} ms`)
      $('#right_bottom_fps').html(' Estimated Fps:'+`${faceapi.round(1000 / avgTimeInMs)}`)
    }

    function interpolateAgePredictions(age) {
      predictedAges = [age].concat(predictedAges).slice(0, 30)
      const avgPredictedAge = predictedAges.reduce((total, a) => total + a) / predictedAges.length
      return avgPredictedAge
    }

    async function onPlay() {
      const videoEl = $('#inputVideo').get(0)

      if(videoEl.paused || videoEl.ended || !isFaceDetectionModelLoaded())
        return setTimeout(() => onPlay())


      const options = getFaceDetectorOptions()

      const ts = Date.now()

      const result = await faceapi.detectSingleFace(videoEl, options)
        .withAgeAndGender()

      updateTimeStats(Date.now() - ts)

      if (result) {
        const canvas = $('#overlay').get(0)
        const dims = faceapi.matchDimensions(canvas, videoEl, true)

        const resizedResult = faceapi.resizeResults(result, dims)
        if (withBoxes) {
          faceapi.draw.drawDetections(canvas, resizedResult)
        }
        const { age, gender, genderProbability } = resizedResult

        // interpolate gender predictions over last 30 frames
        // to make the displayed age more stable
        // 顯示年齡
        const interpolatedAge = interpolateAgePredictions(age)
        new faceapi.draw.DrawTextField(
          [
            `${faceapi.round(interpolatedAge, 0)} years`,
            `${gender} (${faceapi.round(genderProbability)})`
          ],
          result.detection.box.bottomLeft
        ).draw(canvas)
        
        // display button
        if(interpolatedAge >=18){
          $('#confirm_button_legal').show()
          $('#confirm_button_illegal').hide()
        }else{
          $('#confirm_button_legal').hide()
          $('#confirm_button_illegal').show()
          $('#tiny_face_detector_controls').hide()
        }
      }

      setTimeout(() => onPlay())
    }

    async function run() {
      // load face detection and face expression recognition models
      await changeFaceDetector(TINY_FACE_DETECTOR)
      await faceapi.nets.ageGenderNet.load('/')
      changeInputSize(224)

      // try to access users webcam and stream the images
      // to the video element
      const stream = await navigator.mediaDevices.getUserMedia({ video: {} })
      const videoEl = $('#inputVideo').get(0)
      videoEl.srcObject = stream
    }

    $(document).ready(function() {
      initFaceDetectionControls()
      run()
    })
    var bordermode =0
    // border display, 3 modes
    function borderswtich(){
      if(bordermode %3 ==0){
        $('#time_and_fps').css('display','none')
        $('#HBBdiv').css('display','none')
        bordermode+=1
      }else if(bordermode %3 ==1){
        $('.margin').css('border','0px')
        $('#bordersettings').css('right','1px')
        bordermode+=1
      }else{
        $('#time_and_fps').css('display','block')
        $('#HBBdiv').css('display','block')
        $('.margin').css('border','4px solid black')
        $('#bordersettings').css('right','0px')
        bordermode+=1
      }
    }
    //background change:over 18years
    function legalbg(){
      $('body').addClass('legalBG');
      $('#title').css({'font-family':'Metal Mania, cursive','color':'white'})
      $('#title').html("Silver Eye: <span style='color:red'>Detector</span> of elusive Age")
    }
    //background change:below 18years
    function denybg(){
      $('body').addClass('denyBG');
      $('#title').css({'font-family':'Loved by the King, cursive','color':'white'})

    }
    // get video resolution
    /*function test(){
      const videoEl = $('#inputVideo').get(0)
      alert(videoEl.videoHeight+' and '+videoEl.videoWidth)
    }*/
    
  </script>
</body>
</html>