
.page-container {
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 20px;
  /*padding-left: 280px;*/
  display: flex !important;
  justify-content: center;
  position: relative;
}

@media only screen and (max-width : 992px) {
  .page-container {
    padding-left: 0;
    display: flex !important;
  }
}

#navbar {
  position: absolute;
  top: 20px;
  left: 20px;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.side-by-side {
  display: flex;
  justify-content: center;
  align-items: center;
}
.side-by-side >* {
  margin: 0 5px;
}

.bold {
  font-weight: bold;
}

.margin-sm {
  margin: 5px;
}

.margin {
  margin: 20px;
}

.button-sm {
  padding: 0 10px !important;
}

.pad-sides-sm {
  padding: 0 8px !important;
}
/*confirm_button style*/
.confirm_button{
  display: none;
  height: 50px;
  background: greenyellow;
  border: none;
  border-radius: 3px;
  transition: 0.3s;
  -webkit-transition: 0.3s
}
.confirm_button:hover{
  background: green;
  color: white;
}
.confirm_button:focus{
  background: green;
  color: white;
}
.deny_button{
  display: none;
  height: 50px;
  background: red;
  color: white;
  border: none;
  border-radius: 3px;
  transition: 0.3s;
  -webkit-transition: 0.3s
}
.deny_button:hover{
  background: darkred;
  color: white;
}
.deny_button:focus{
  background: darkred;
  color: white;
}

/*confirm_button style_ends*/
#github-link {
  display: flex !important;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid;
  margin-bottom: 10px;
}

#overlay, .overlay {
  position: absolute;
  top: 0;
  left: 0;
}

#facesContainer canvas {
  margin: 10px;
}

/* new stylesheets 2019/9/28*/
#HBBdiv{
  background:#37474F;
  width: 150px;height: 20px;
  position: absolute;bottom: 0px;left: -3px;
  text-align:center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#HBBdiv :hover{
  cursor: pointer;
  background:rgb(136, 175, 194);
}

#bordersettings{
  background: #37474F;
  color: #ffffff;width: 40px;height: 40px;position: absolute;top: 0px;right:0px;text-align:center;font-size: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#bordersettings:hover{
  background: #ff1a1a;
  color: white;
  cursor: pointer;
}
#time_and_fps{
  background:#37474F;width: 220px;height: 20px;position: absolute;bottom: -3px;right: -3px;text-align:center;
}
#title{
  background:#37474F;text-align: center;font-family: 'Black Ops One', cursive;
}

/* .denyBG{
  background: linear-gradient(225deg, #ffa3a3, #a3ffa3, #a3a3ff);background-size: 1200% 1200%;

  -webkit-animation: weebo 16s ease infinite;
  -moz-animation: weebo 16s ease infinite;
  animation: weebo 16s ease infinite;
  height: 100%;
} */
/* gradient changing animation 2019/9/29*/
@-webkit-keyframes weebo {
  0%{background-position:0% 0%}
  50%{background-position:100% 50%}
  100%{background-position:0% 0%}
}
@-moz-keyframes weebo {
  0%{background-position:0% 0%}
  50%{background-position:100% 50%}
  100%{background-position:0% 0%}
}
@keyframes weebo {
  0%{background-position:0% 0%}
  50%{background-position:100% 50%}
  100%{background-position:0% 0%}
}